body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 20px;
  background-color: #ffffff;
  color: #333;
}

h1 {
  color: #;
}
.player-container {
  /* height: 100vh;  Make it fill the screen */
  /* Or a fixed height */
  height: 800px; 
}
/* Add any other styles you want */
