<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <!-- Link to your own CSS file -->
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

  <header>
    <!-- You can put a navigation bar or site header here -->
    
  </header>

  <main>
    <!-- This is where the content of your individual pages will go -->
    {{ content }}
  </main>

  <center><footer>
    <!-- You can put a footer here -->
    <p>&copy; 2025 All rights reserved. </p>
  </footer></center>

</body>
</html>
